<%- include('../views/partials/head') %>
<h1>Fazer Login!</h1>
<div class="forms">
<form action="/login" method="post" class="log">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit">Enviar</button>
</form>
</div>
<%- include('../views/partials/footer') %>
