<%- include('../views/partials/head') %>

<h1>Fazer Registro!</h1>
<div class="forms">
<form action="/cadastro" method="post" class="log">
    <input type="text" name="username" placeholder="username" required>
    <input type="password" name="password" placeholder="password" required>
    <input type="email"  name="email" placeholder="email" required>
    <input type="text"  name="endereco" placeholder="address" required>
    <button>Enviar</button>
</form>
<a href="/login"><button class="botoes">Voltar para o Login</button></a> 
</div>

<%- include('../views/partials/footer') %>
