<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Utensilios para o seu chimarrão</title>
    <link rel="stylesheet" href="/css/style.css">

    <header>
        <nav class="main-nav">
        
            <ul>
                <li><a href="/lojas">Livros</a></li>
                <% if(currentUser) {%>  
                <li><a href="/logout">Sair</a></li>
                <% } else { %> 
                <li><a href="/login">Login</a></li>
                <li><a href="/cadastro">Cadastrar</a></li>
                <% } %> 
               <img src="/imagens/cart2.svg" alt="" width="30" height="30">
                    
            
            </ul>
        </nav>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/script.js"></script>
    </header>




</head>

<body>


